*{
    box-sizing: border-box;
}
body{
    text-align: left;
    background:rgb(166, 110, 222);
    margin: 10px 100px;   
}
h1{
    text-align: center;
}
input [type=text], input [type=radio],input [type=checkbox], select, textarea{
    width:100%;
    padding:12px;
    border:1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
label{
    padding:12px 12px 12px 0;
    display: inline-block;
}
input[type=submit]{
    background-color: red;
    color: white;
    padding: 12px 20px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.container{
    border-radius: 5px;
    background-color: pink;
    padding:20px;
    border: 2px solid purple
}
.col-25{
    float: left;
    width:25%;
    margin-top: 6px;
}
,col-75{
    float:left;
    width: 75%;
    margin-top: 6px;

}
.row:after{
    content:"";
    display: table;
    clear:both;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    
    }    
}
input[type=submit]:hover{
    background-color: green;
}




